.container-fluid{
	padding: 0;
}
.menu{
	height: 100px;
	background: rgba(0, 0, 0, 0.4);
}

.header .menu a{
	display: block;
	padding-top: 30px;
	padding-left: 80px;
}

.header nav ul{
	list-style-type: none;
	padding-right: 50px;
	margin: 0;
}

.header nav ul li{
	display: inline-block;
	margin-right: 50px;
}

.header nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

.header nav ul li a:hover {
	color: #32a1cf;
	text-decoration: underline ;
	transition: all 0.7s ease;
}

